@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2e5bff;
  --c-bg: #f5f5f7;
  --t-main: #28293d;
  --t-second: #1d1d1f;
  --t-third: #3366ff99;
  --b-main: #e0e7ff;
}

body {
  font-family: "Rubik" !important;
  @apply bg-backg;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
